@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: #111823;
  font-family: "Pixelar", sans-serif, arial, -apple-system;
}

html {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),
    auto;
}

button,
input {
  font-family: "Pixelar", sans-serif, arial, -apple-system;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer !important;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Pixelar", sans-serif, arial, -apple-system;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer !important;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pixelar";
  src: url("/fonts/Pixelar/Pixelar-Regular-W01-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.lds-ring {
  animation: spin 1s linear infinite;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 70vh;
  left: 50%;
  margin: -5px;
  z-index: 10;
}

@keyframes spin {
  0% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px #f3cb23, 30px 0px #f3cb23, 30px 10px #f3cb23, 20px 20px #f3cb23,
      10px 30px #f3cb23, 0px 30px transparent, -10px 30px transparent,
      -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  6.25% {
    box-shadow: 0px -30px transparent, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px #f3cb23, 30px 0px #f3cb23, 30px 10px #f3cb23, 20px 20px #f3cb23,
      10px 30px #f3cb23, 0px 30px #f3cb23, -10px 30px transparent,
      -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
  12.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px #f3cb23, 30px -10px #f3cb23, 30px 0px #f3cb23,
      30px 10px #f3cb23, 20px 20px #f3cb23, 10px 30px #f3cb23, 0px 30px #f3cb23,
      -10px 30px #f3cb23, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  18.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px #f3cb23, 30px 0px #f3cb23,
      30px 10px #f3cb23, 20px 20px #f3cb23, 10px 30px #f3cb23, 0px 30px #f3cb23,
      -10px 30px #f3cb23, -20px 20px #f3cb23, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px #f3cb23,
      30px 10px #f3cb23, 20px 20px #f3cb23, 10px 30px #f3cb23, 0px 30px #f3cb23,
      -10px 30px #f3cb23, -20px 20px #f3cb23, -30px 10px #f3cb23,
      -30px 0px transparent, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  31.25% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px #f3cb23, 20px 20px #f3cb23, 10px 30px #f3cb23, 0px 30px #f3cb23,
      -10px 30px #f3cb23, -20px 20px #f3cb23, -30px 10px #f3cb23,
      -30px 0px #f3cb23, -30px -10px transparent, -20px -20px transparent,
      -10px -30px transparent;
  }
  37.5% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px #f3cb23, 10px 30px #f3cb23,
      0px 30px #f3cb23, -10px 30px #f3cb23, -20px 20px #f3cb23,
      -30px 10px #f3cb23, -30px 0px #f3cb23, -30px -10px #f3cb23,
      -20px -20px transparent, -10px -30px transparent;
  }
  43.75% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px transparent, 10px 30px #f3cb23,
      0px 30px #f3cb23, -10px 30px #f3cb23, -20px 20px #f3cb23,
      -30px 10px #f3cb23, -30px 0px #f3cb23, -30px -10px #f3cb23,
      -20px -20px #f3cb23, -10px -30px transparent;
  }
  50% {
    box-shadow: 0px -30px transparent, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px #f3cb23, -10px 30px #f3cb23, -20px 20px #f3cb23,
      -30px 10px #f3cb23, -30px 0px #f3cb23, -30px -10px #f3cb23,
      -20px -20px #f3cb23, -10px -30px #f3cb23;
  }
  56.25% {
    box-shadow: 0px -30px #f3cb23, 10px -30px transparent,
      20px -20px transparent, 30px -10px transparent, 30px 0px transparent,
      30px 10px transparent, 20px 20px transparent, 10px 30px transparent,
      0px 30px transparent, -10px 30px #f3cb23, -20px 20px #f3cb23,
      -30px 10px #f3cb23, -30px 0px #f3cb23, -30px -10px #f3cb23,
      -20px -20px #f3cb23, -10px -30px #f3cb23;
  }
  62.5% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px transparent,
      30px -10px transparent, 30px 0px transparent, 30px 10px transparent,
      20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
      -10px 30px transparent, -20px 20px #f3cb23, -30px 10px #f3cb23,
      -30px 0px #f3cb23, -30px -10px #f3cb23, -20px -20px #f3cb23,
      -10px -30px #f3cb23;
  }
  68.75% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px transparent, 30px 0px transparent, 30px 10px transparent,
      20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
      -10px 30px transparent, -20px 20px transparent, -30px 10px #f3cb23,
      -30px 0px #f3cb23, -30px -10px #f3cb23, -20px -20px #f3cb23,
      -10px -30px #f3cb23;
  }
  75% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px #f3cb23, 30px 0px transparent, 30px 10px transparent,
      20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
      -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px #f3cb23, -30px -10px #f3cb23, -20px -20px #f3cb23,
      -10px -30px #f3cb23;
  }
  81.25% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px #f3cb23, 30px 0px #f3cb23, 30px 10px transparent,
      20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
      -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px #f3cb23, -20px -20px #f3cb23,
      -10px -30px #f3cb23;
  }
  87.5% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px #f3cb23, 30px 0px #f3cb23, 30px 10px #f3cb23,
      20px 20px transparent, 10px 30px transparent, 0px 30px transparent,
      -10px 30px transparent, -20px 20px transparent, -30px 10px transparent,
      -30px 0px transparent, -30px -10px transparent, -20px -20px #f3cb23,
      -10px -30px #f3cb23;
  }
  93.75% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px #f3cb23, 30px 0px #f3cb23, 30px 10px #f3cb23, 20px 20px #f3cb23,
      10px 30px transparent, 0px 30px transparent, -10px 30px transparent,
      -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px transparent, -20px -20px transparent, -10px -30px #f3cb23;
  }
  100% {
    box-shadow: 0px -30px #f3cb23, 10px -30px #f3cb23, 20px -20px #f3cb23,
      30px -10px #f3cb23, 30px 0px #f3cb23, 30px 10px #f3cb23, 20px 20px #f3cb23,
      10px 30px #f3cb23, 0px 30px transparent, -10px 30px transparent,
      -20px 20px transparent, -30px 10px transparent, -30px 0px transparent,
      -30px -10px transparent, -20px -20px transparent, -10px -30px transparent;
  }
}

.Toastify__toast-theme--light {
  background: #212127 !important;
  color: #e4be23 !important;
  box-shadow: 0px 0px 3px 2px #8f7a39 !important;
}
.Toastify__close-button--light {
  color: #e4be23 !important;
}
